In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
conda install -c conda-forge gmaps

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [3]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [4]:
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Aktau,KZ,2021-02-22 01:23:07,43.6500,51.2000,37.40,81,90,11.18
1,1,Bathsheba,BB,2021-02-22 01:23:07,13.2167,-59.5167,75.20,73,40,17.27
2,2,Busselton,AU,2021-02-22 01:23:07,-33.6500,115.3333,72.00,66,0,5.01
3,3,East London,ZA,2021-02-22 01:23:07,-33.0153,27.9116,65.48,69,21,9.78
4,4,Honningsvag,NO,2021-02-22 01:23:08,70.9821,25.9704,12.72,94,100,29.33

In [6]:
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Aktau,KZ,2021-02-22 01:23:07,43.6500,51.2000,37.40,81,90,11.18
1,1,Bathsheba,BB,2021-02-22 01:23:07,13.2167,-59.5167,75.20,73,40,17.27
2,2,Busselton,AU,2021-02-22 01:23:07,-33.6500,115.3333,72.00,66,0,5.01
3,3,East London,ZA,2021-02-22 01:23:07,-33.0153,27.9116,65.48,69,21,9.78
4,4,Honningsvag,NO,2021-02-22 01:23:08,70.9821,25.9704,12.72,94,100,29.33
...,...,...,...,...,...,...,...,...,...,...
562,562,Pleasant Point,NZ,2021-02-22 01:23:57,-44.2667,171.1333,69.01,87,62,4.00
563,563,Tomatlan,MX,2021-02-22 01:23:57,19.9333,-105.2500,71.44,75,0,4.41
564,564,Portland,US,2021-02-22 01:22:00,45.5234,-122.6762,50.00,81,75,18.41
565,565,Husavik,IS,2021-02-22 01:23:57,66.0449,-17.3389,33.80,93,90,3.44
566,566,Merke,KZ,2021-02-22 01:23:57,42.8728,73.1786,32.77,89,100,1.92

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer =  gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Bathsheba,BB,2021-02-22 01:23:07,13.2167,-59.5167,75.20,73,40,17.27
12,12,Kilindoni,TZ,2021-02-22 01:23:08,-7.9139,39.6668,80.91,80,57,6.93
13,13,Atuona,PF,2021-02-22 01:23:08,-9.8000,-139.0333,79.11,80,100,12.62
14,14,Kapaa,US,2021-02-22 01:19:42,22.0752,-159.3190,77.00,78,75,13.80
17,17,Hilo,US,2021-02-22 01:23:09,19.7297,-155.0900,78.80,65,90,13.80
29,29,Kita,ML,2021-02-22 01:23:10,13.0349,-9.4895,75.52,19,23,4.23
30,30,Tarakan,ID,2021-02-22 01:23:10,3.3000,117.6333,80.60,83,75,6.91
32,32,Puerto Ayora,EC,2021-02-22 01:23:11,-0.7393,-90.3518,75.99,92,69,7.99
40,40,Padang,ID,2021-02-22 01:23:11,-0.9492,100.3543,82.40,78,20,3.44
45,45,Rikitea,PF,2021-02-22 01:23:12,-23.1203,-134.9692,80.11,66,0,7.74

In [20]:
preferred_cities_df.count()

City_ID       140
City          140
Country       140
Date          140
Lat           140
Lng           140
Max Temp      140
Humidity      140
Cloudiness    140
Wind Speed    140
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1      Bathsheba      BB     75.20  13.2167  -59.5167
12     Kilindoni      TZ     80.91  -7.9139   39.6668
13        Atuona      PF     79.11  -9.8000 -139.0333
14         Kapaa      US     77.00  22.0752 -159.3190
17          Hilo      US     78.80  19.7297 -155.0900
29          Kita      ML     75.52  13.0349   -9.4895
30       Tarakan      ID     80.60   3.3000  117.6333
32  Puerto Ayora      EC     75.99  -0.7393  -90.3518
40        Padang      ID     82.40  -0.9492  100.3543
45       Rikitea      PF     80.11 -23.1203 -134.9692

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Bathsheba,BB,75.20,13.2167,-59.5167,Atlantis Hotel
12,Kilindoni,TZ,80.91,-7.9139,39.6668,Bustani B&B
13,Atuona,PF,79.11,-9.8000,-139.0333,Villa Enata
14,Kapaa,US,77.00,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
17,Hilo,US,78.80,19.7297,-155.0900,Hilo Hawaiian Hotel
...,...,...,...,...,...,...
531,Matamoros,MX,82.40,25.5333,-103.2500,Quinta Belem
545,Auki,SB,83.79,-8.7676,160.7034,Auki Motel
548,Pitimbu,BR,78.80,-7.4706,-34.8086,Reserva do Abiaí
556,Vao,NC,80.01,-22.6667,167.4833,Hotel Kou-Bugny
561,Alyangula,AU,84.20,-13.8483,136.4192,Groote Eylandt Lodge

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))