## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Takoradi,GH,78.66,4.8845,-1.7554,Raybow International Hotel
1,2,Mahebourg,MU,77.00,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,7,Kapaa,US,73.99,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
3,8,Kloulklubed,PW,84.20,7.0419,134.2556,Storyboard Beach Resort
4,13,Hilo,US,71.60,19.7297,-155.0900,Hilo Hawaiian Hotel

In [4]:
vacation_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Takoradi,GH,78.66,4.8845,-1.7554,Raybow International Hotel
1,2,Mahebourg,MU,77.00,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,7,Kapaa,US,73.99,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
3,8,Kloulklubed,PW,84.20,7.0419,134.2556,Storyboard Beach Resort
4,13,Hilo,US,71.60,19.7297,-155.0900,Hilo Hawaiian Hotel
...,...,...,...,...,...,...,...
252,695,Sulya,IN,82.40,12.5667,75.3833,KFDC Guest House - Karnataka Forest Developmen...
253,696,Dwarka,IN,81.84,22.2394,68.9678,Hotel Narayan Avezika Comfort
254,701,Lima,PE,72.00,-12.0432,-77.0282,Gran Hotel Bolivar Lima
255,702,Nha Trang,VN,82.40,12.2500,109.1833,Sheraton Nha Trang Hotel & Spa
256,705,Sao Filipe,CV,70.34,14.8961,-24.4956,Tortuga B&B

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
# 11a. Add a marker layer for each city to the map. 
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Cidreira']
vacation_end = vacation_df.loc[vacation_df['City']== 'Cidreira']
vacation_stop1 = vacation_df.loc[vacation_df['City']== 'Puerto Suarez']
vacation_stop2 = vacation_df.loc[vacation_df['City']== 'Matinhos'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']== 'Ilhabela']

In [21]:
import numpy

In [49]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = vacation_df.loc[(vacation_df['City']=='Klouklubed'),('Lat','Lng')]  

start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])

end = (vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0])

stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])

stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])

stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

In [50]:
start

(-30.1811, -50.2056)

In [51]:
end

(-30.1811, -50.2056)

In [52]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig1 = gmaps.figure()
cidreira2cidreira = gmaps.directions_layer(
start, end,waypoints = [stop1, stop2, stop3],
travel_mode='DRIVING')
fig1.add_layer(cidreira2cidreira)
fig1

Figure(layout=FigureLayout(height='420px'))

In [53]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,123,Cidreira,BR,74.66,-30.1811,-50.2056,Hotel Castelo
1,461,Puerto Suarez,BO,72.57,-18.9500,-57.8000,Hotel casa real
2,185,Matinhos,BR,71.01,-25.8175,-48.5428,Hotel Pousada Girassol
3,455,Ilhabela,BR,74.98,-23.7781,-45.3581,Ilha Flat Hotel
4,123,Cidreira,BR,74.66,-30.1811,-50.2056,Hotel Castelo

In [54]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
itinerary_locations = itinerary_df[["Lat", "Lng"]]

In [58]:
# 11a. Add a marker layer for each city to the map.
itinerary_max_temp = itinerary_df["Max Temp"]
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(itinerary_locations, weights=itinerary_max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(itinerary_locations, info_box_content = itinerary_info)
fig2.add_layer(heat_layer)
fig2.add_layer(marker_layer)
# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))